/* cacheid:142feda762e06ff7f962f7dc0c008dfd5c256ece:5b97f23a7e94ce03e408b1e938aeabd2c8300881:72deb0badaaf1e61654b4ad943396903760b85ab:4e5898778f10b93e4dd6d22efc23dda808cdc0d8 */
/* path:media/zoo/applications/jbuniversal/assets/less/widget/quantity.less */
.jbzoo .quantity-wrapper .item-count-wrapper {
  margin: 0;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  background: #fff;
}
.jbzoo .quantity-wrapper .item-count {
  width: 60px;
  height: 40px;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
  white-space: nowrap;
  overflow: hidden;
}
.jbzoo .quantity-wrapper .item-count-digits {
  width: 60px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
}
.jbzoo .quantity-wrapper .item-count-digits dd {
  height: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
  font: 16px/40px "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 60px;
}
.jbzoo .quantity-wrapper .input-quantity {
  height: 40px !important;
  width: 55px !important;
  min-width: 60px;
  margin: 0;
  padding: 0;
  z-index: 1;
  display: block;
  position: absolute;
  border: 1px solid #fff;
  border-radius: 3px;
  background: none;
  outline: none;
  font: 16px/40px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  text-indent: 0;
  opacity: 0;
}
.jbzoo .quantity-wrapper .input-quantity:focus {
  border-color: #ccc;
  outline: none;
  color: black;
  background-color: #faffbd;
  box-shadow: none;
}
.jbzoo .quantity-wrapper .btn-mini {
  width: 18px;
  height: 18px;
  display: block;
  text-align: center;
  line-height: 0;
  font-size: 0;
  margin-left: 6px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0;
  cursor: pointer;
}
.jbzoo .quantity-wrapper .btn-mini:hover {
  border-color: #666;
}
.jbzoo .quantity-wrapper .btn-mini.plus {
  margin-bottom: 1px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAIAAADZrBkAAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMFJREFUeNrMk00KgzAQhXUiXiASiCt3XqDk/uuQKwQCgjshO0H86WsDaaG1pkKhb5Wf+eYNw0w+z3Pf9977aZqyI5VlWVWVlLIAM45j27Z4OsSQ2jkHJxqGoWmaFCa4IRil0bIsiUwk4Ulv/9Z1/QzT3sflrj2eslM6iRWvtT1flVLhYIz5gVvIik4EH601Ef1bS6JQ3i0r0RfYXvQjgDGGsUwvDwOJsSQhhLU2Zdni4nDO823buq5LX1MwdV1fBRgAr51adW9nEfIAAAAASUVORK5CYII=") no-repeat 50% 50%;
}
.jbzoo .quantity-wrapper .btn-mini.minus {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAIAAADZrBkAAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKhJREFUeNrMk0EKxCAMRdtYvIAi6Ko7L+D9T+AVCoLgrtCdIFYnUHAlUykdmKwk5OV/5GfOOYcQjuNIKU13RSnlnEspF2RijFprbN1iuNo5h0qw7/u6riPMpYbDaA3O8xxkGomaMD2qpdstpbQ3QGf1Q7WXTBpjunPW2h+oXVv//Eu+GHvDJCEEYzkOYCAxliCE2LZt5Nja4TDG5lqr9378TJFRSn0EGACCOVBDjQe0EQAAAABJRU5ErkJggg==") no-repeat 50% 50%;
  margin-top: 1px;
}
.jbzoo .quantity-wrapper .quantity-wrapper tr,
.jbzoo .quantity-wrapper .quantity-wrapper td {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  border: none;
}
