#
# JBZoo Application
#
# This file is part of the JBZoo CCK package.
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.
#
# @package    Application
# @license    GPL-2.0
# @copyright  Copyright (C) JBZoo.com, All rights reserved.
# @link       https://github.com/JBZoo/JBZoo
#

# Editor & OS stuff
.idea
.DS_Store

# phpunit
.phpunit.result.cache

# composer
/vendor/*
/composer.lock
phpunit.xml
/build
src/packages/jbuniversal/jbuniversal/vendor/*

# JBZoo/Zoo service files
positions.config
packages/jbuniversal/jbuniversal/types/*.config
packages/jbuniversal/jbuniversal/tmp/*
packages/jbuniversal/jbuniversal/templates/uikit/renderer/item/*/
packages/jbuniversal/jbuniversal/config/licence.*.php
