.fl-galleryimage .well {
   position: relative;
}
.fl-galleryimage .fl-files li {
  padding: 9px;
}
#fl-galleryimage-dropzone {
  height: 120px;
  box-sizing: border-box;
}
#fl-galleryimage-dropzone .fl-file {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}
#fl-galleryimage-dropzone input {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  left: 0;
  font-size: 500px;
}
.creation-form .fl-galleryimage textarea {
  height: 120px;
  box-sizing: border-box;
  width: 100%;
}
.btn-fluploaderadd {
  margin-top: 10px;
}
.btn-fluploaderadd img {
  margin-right: 5px;
}
.fluploader-load-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../img/loader.svg);
  margin-right: 5px;
}
.fluploader-load-icon.flicon-ok {
  background-image: url(../img/check.png);
}
.fl-galleryimage .input-append {
  margin-top: 15px!important;
}
.fl-galleryimage .input-append input {
  -webkit-border-radius: 3px 0 0 3px!important;
  -moz-border-radius: 3px 0 0 3px!important;
  border-radius: 3px 0 0 3px!important;
  padding: 4px 6px!important;
  max-width: 450px;
}
    